@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
	ViewData["Title"] = "All Floors";
}

@model IEnumerable<DeskEntity.Model.Floor>

<style>
	.bnav,
	.bnav:after,
	.bnav:before {
		background: #ffffff;
		border-radius: 1px;
		content: "";
		cursor: pointer;
		display: block;
		height: 3px;
		transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
		width: 24px;
	}

	.bnav {
		position: relative;
	}

		.bnav:before {
			position: absolute;
			top: -7.5px;
			width: 24px;
		}

		.bnav:after {
			bottom: -7.5px;
			position: absolute;
			width: 16px;
		}

	.bnav-right,
	.bnav-right:after,
	.bnav-right:before {
		right: 0;
	}

	#logout_sidebar_button {
		position: absolute;
		margin: 12px;
		bottom: 0;
		display: inline-block;
		width: 91%;
		text-align: center;
	}

</style>

	<div>
		<div id="mySidebar" class="sidebar">
			<a class="closebtn" onclick="closeNav()"><img width="30px" height="30px" src="~/img/close.png" /></a>
			<h3 id="stitle" class="text-white " style="font-size: 30px;margin-left: 53px;">
				Admin
			</h3>
			<a asp-controller="Admin" asp-action="Index" class="text-white" style="font-size: 20px;"><img src="~/img/dashboard.svg" style="height:23px" />&nbsp;&nbsp;Dashboard</a>
			<a asp-controller="Home" asp-action="Index" id="logout_sidebar_button" class="btn btn-danger btn-lg text-center">Log Out</a>
		</div>
	</div>

<br />
<a asp-area="" asp-controller="Admin" asp-action="Index"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/358729/navigate-back-circle.svg"></a>
<br />
<br />
<body style="background: -webkit-linear-gradient(left, #fff, #000);">
	<div class="card shadow mb-4">
		<div class="card-header py-3">
			<a class="text-uppercase d-inline-block text-center" style="color:black;font-size:x-large" align="center"> Floor <span class="font-weight-bold" style="font-size:x-large">Details</span></a>
			<a type="button" class="nav-link text-white btn btn-info add-new d-inline-block" style="float:right" asp-controller="Admin" asp-action="AddFloors"><i class="fa fa-plus"></i>  Add New</a>
		</div>
		<div class="card-body">
			<div class="table-responsive">
				<table class="table table-bordered" id="myTable" width="100%" cellspacing="0">
					<thead>
						<tr>
							<th>FloorId</th>
							<th>FloorName</th>
							<th>Edit</th>
							<th>Delete</th>
						</tr>
					</thead>
					<tbody>
						@foreach (var floor in Model)
						{
							<tr>
								<td>@floor.FloorId</td>
								<td>@floor.FloorName</td>
								<td align="center"><a class="btn btn-info" asp-controller="Admin" asp-action="UpdateFloors" asp-route-floorId=@floor.FloorId><i class="fa-sharp fa-solid fa-pen-to-square"></i></a></td>
								<td align="center"><a class="btn btn-danger" asp-controller="Admin" asp-action="DeleteFloors" onclick="deleteFunction()" asp-route-floorID=@floor.FloorId ><i class="fa-sharp fa-solid fa-trash"></i></a></td>
							</tr>
						}
					</tbody>
				</table>
			</div>
		</div>
	</div>
	<script>
		function deleteFunction() {
			let val = confirm("Are you sure you want to delete this?");
			if (val == false) {
				return event.preventDefault();
			}
			alert("Floor is deleted successfully!");
		}

	</script>
</body>



