
@{
    ViewData["Title"] = "EnterSecretKey";
}

<h1>EnterSecretKey</h1>

@model DeskEntity.Model.SecretKey;

@{

    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}
<h1>EnterKey</h1>
<form method="post" enctype="multipart/form-data">
    <input type="text" asp-for="SecretKeyType" class="form-control" placeholder="Enter Secret Key" />
    <button type="submit" class="btn btn-primary"></button>
</form>
@if (ViewBag.status == "Ok")
{
    <div class="alert alert-success">
        @ViewBag.message
    </div>
}
else if (ViewBag.status == "Error")
{
    <div class="alert alert-danger">
        @ViewBag.message
    </div>
}