@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
	ViewData["Title"] = "Dashboard";
}


<style>
	.bnav,
	.bnav:after,
	.bnav:before {
		background: #ffffff;
		border-radius: 1px;
		content: "";
		cursor: pointer;
		display: block;
		height: 3px;
		transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
		width: 24px;
	}

	.bnav {
		position: relative;
	}

		.bnav:before {
			position: absolute;
			top: -7.5px;
			width: 24px;
		}

		.bnav:after {
			bottom: -7.5px;
			position: absolute;
			width: 16px;
		}

	.bnav-right,
	.bnav-right:after,
	.bnav-right:before {
		right: 0;
	}

	#logout_sidebar_button {
		position: absolute;
		margin: 12px;
		bottom: 0;
		display: inline-block;
		width: 91%;
		text-align: center;
	}


	.card {
		width: 300px;
		/*height: 200px;*/
		background-color: #fff;
		box-shadow: 0 4px 8px 0 rgba(0,0,0,0.2);
		border-radius: 5px;
		overflow: hidden;
	}

		.card img {
			width: 100%;
			height: 200px;
			object-fit: cover;
		}

	.card-content {
		padding: 20px;
	}

	.card-title {
		
		font-size: 16px;
		font-weight: bold;
		margin-bottom: 10px;
	}

	.card-description {
		font-size: 16px;
		line-height: 1.5;
		margin-bottom: 5px;
	}

	.card-button {
		
		display: block;
		width: 100%;
		padding: 10px;
		background-color: #000;
		color: #fff;
		text-align: center;
		text-decoration: none;
		border-radius: 5px;
	}

		.card-button:hover {
			background-color: #615f5f;
			color: #fff;
		}

	.card-btn {
		font-family: 'Roboto','sans-serif';
		background-color: #ffffff00;
		font-size: 24px;
		color: #fff;
		text-decoration: none;
	}

</style>

<body style="background: -webkit-linear-gradient(left, #fff, #000);">
	<div>
		<div id="mySidebar" class="sidebar">
			<a class="closebtn" onclick="closeNav()"><img width="30px" height="30px" src="~/img/close.png" /></a>
			<h3 id="stitle" class="text-white" style="font-size: 30px;margin-left: 53px;">
				Admin
			</h3>
			<a asp-controller="Admin" asp-action="ViewRecords" class="text-white" style="font-size: 20px;"><img src="~/img/view.svg" style="height:23px" />&nbsp;&nbsp;View Records</a>
			<a asp-controller="Admin" asp-action="GetAllBookingSeats" class="text-white" style="font-size: 20px;"><img src="~/img/booked.svg" style="height:23px" />&nbsp;&nbsp;Booked Seats</a>
			<a asp-controller="Admin" asp-action="AllFloors" class="text-white" style="font-size: 20px;"><img src="~/img/manage.svg" style="height:23px" />&nbsp;&nbsp;Manage Floors</a>
			<a asp-controller="Admin" asp-action="AllSeats" class="text-white" style="font-size: 20px;"><img src="~/img/manage.svg" style="height:23px" />&nbsp;&nbsp;Manage Seats</a>
			<a asp-controller="Admin" asp-action="GetAllRooms" class="text-white" style="font-size: 20px;"><img src="~/img/manage.svg" style="height:23px" />&nbsp;&nbsp;Manage Rooms</a>

			<a asp-controller="Home" asp-action="Index" id="logout_sidebar_button" class="btn btn-danger btn-lg text-center">Log Out</a>
		</div>
	</div>

	<div class="row row1">
		<div class="card col-6 col-sm-4 col-md-4 col-lg-4 my-4 mx-auto">
			<div class="card-content text-center">
				<h2 class="ctitle">Bangalore</h2>
				<h3 class="ctitle"> @DateTime.Now.ToString("dddd, dd MMMM yyyy")</h3>
			</div>
		</div>
	</div>
	<div class="card col-6 col-sm-4 col-md-4 col-lg-4 mx-auto" style="margin-top:60px">
		<div class="card-content text-center">
				<a asp-controller="Admin" asp-action="ScanQR" class="btn btn-dark btn-lg">Scan QR</a>
		</div>
	</div>

	<div class="card col-6 col-sm-4 col-md-4 col-lg-4 my-4 mx-auto">
		<div class="card-content text-center">
			<a asp-controller="Admin" asp-action="ViewRecords" class="btn btn-dark btn-lg">View Records</a>
		</div>
	</div>
</body>




