@model DeskEntity.Model.SecretKey;

@{
    Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<div class="container">
    <div class="row" style="display: flex;justify-content:center;margin-top:85px;">
        <div class="scanepromofit wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <div class="scaneprpic">
                <video id="preview"></video>
                <script type="text/javascript">
                    let scanner = new Instascan.Scanner({ video: document.getElementById("preview") });
                    Instascan.Camera.getCameras().then(function (cameras) {
                        if (cameras.length > 0) {
                            scanner.start(cameras[0]);
                        } else {
                            console.error("No cameras found!");
                        }
                    }).catch(function (e) {
                        console.error(e);
                    });
                    var myContent = 0;
                    scanner.addListener('scan', function (content) {
                        myContent = content;
                        window.Swal.fire({
                            title: "Success!",
                            text: "Your QR code is scanned successfully. You will redirect to employee details in a moment!",
                            type: "success"
                        }).then(function () {
                            window.location = "/Admin/GetAllBookingSeats";
                        });
                    });
                </script>
            </div>
        </div>
    </div>
</div>




