@model DeskEntity.Model.SecretKey;

@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

<script src="https://cdnjs.cloudflare.com/ajax/libs/jquery/3.3.1/jquery.min.js"></script>
<script src="https://rawgit.com/schmich/instascan-builds/master/instascan.min.js"></script>
<div class="container">
    <div class="row">
        <div class="scanepromofit wow zoomIn" style="visibility: visible; animation-name: zoomIn;">
            <div class="scaneprpic">
                <video id="preview"></video>
                <script type="text/javascript">
                    let scanner = new Instascan.Scanner({ video: document.getElementById("preview") });
                    Instascan.Camera.getCameras().then(function (cameras) {
                        if (cameras.length > 0) {
                            scanner.start(cameras[0]);
                        } else {
                            console.error("No cameras found.");
                        }
                    }).catch(function (e) {
                        console.error(e);
                    });
                    var myContent = 0;
                    scanner.addListener('scan', function (content) {
                        myContent = content;
                        window.alert("scanned successfully wait redirecting");
                        if (content != null) {
                            $.ajax({
                                url: '@Url.Action("GetEmployeeIdBySecretId", "Admin")',
                                type: 'POST',
                                data: { myContent: myContent },
                                success: function (result) {
                                    console.log(result);
                                },
                                error: function (xhr, status, error) {
                                    console.log(error);
                                }
                            });
                        }
                    });
                </script>
            </div>
        </div>
    </div>
</div>




