@{
	Layout = "~/Views/Shared/_AdminLayout.cshtml";
}

@{
	ViewData["Title"] = "Update Rooms";
}

@model DeskEntity.Model.Room

<style>
	.bnav,
	.bnav:after,
	.bnav:before {
		background: #ffffff;
		border-radius: 1px;
		content: "";
		cursor: pointer;
		display: block;
		height: 3px;
		transition: background 0.1s ease-in-out, color 0.1s ease-in-out;
		width: 24px;
	}

	.bnav {
		position: relative;
	}

		.bnav:before {
			position: absolute;
			top: -7.5px;
			width: 24px;
		}

		.bnav:after {
			bottom: -7.5px;
			position: absolute;
			width: 16px;
		}

	.bnav-right,
	.bnav-right:after,
	.bnav-right:before {
		right: 0;
	}

	#logout_sidebar_button {
		position: absolute;
		margin: 12px;
		bottom: 0;
		display: inline-block;
		width: 91%;
		text-align: center;
	}

	
</style>

<html>
<body style="background: -webkit-linear-gradient(left, #fff, #000);">
	<div>
		<div id="mySidebar" class="sidebar">
			<a class="closebtn" onclick="closeNav()"><img width="30px" height="30px" src="~/img/close.png" /></a>
			<h3 id="stitle" class="text-white " style="font-size: 30px;margin-left: 53px;">
				Admin
			</h3>
			<a asp-controller="Admin" asp-action="Index" class="text-white" style="font-size: 20px;"><img src="~/img/dashboard.svg" style="height:23px" />&nbsp;&nbsp;Dashboard</a>
			<a asp-controller="Home" asp-action="Index" id="logout_sidebar_button" class="btn btn-danger btn-lg text-center">Log Out</a>
		</div>
	</div>

	<br />
	<a asp-area="" asp-controller="Admin" asp-action="GetAllRooms"><img class="img-fluid" style="height:35px" src="https://www.svgrepo.com/show/358729/navigate-back-circle.svg"></a>


	<section class="vh-70 gradient-custom">
		<div class="container py-5 h-100">
			<div class="row justify-content-center align-items-center h-100">
				<div class="col-12 col-lg-9 col-xl-7">
					<div class="card shadow-2-strong card-registration" style="border-radius: 15px;">
						<div class="card-body p-4 p-md-5">
							<h3 class="mb-4 pb-2 pb-md-0 mb-md-5">Edit Meeting Room</h3>
							<form method="post" enctype="multipart/form-data">

								<div class="row">
									<div class="col-md-6 mb-4">

										<div class="form-outline">
											<label class="form-label">Room Id</label>
											<input type="text" asp-for="RoomId" class="form-control form-control-lg" placeholder="Room Id" disabled />
										</div>

									</div>

									<div class="col-md-6 mb-4">

										<div class="form-outline">
											<label class="form-label">Room Number</label>
											<input type="text" asp-for="RoomNumber" class="form-control form-control-lg" placeholder="Room Number" required />
										</div>

									</div>
									<div class="col-md-6 mb-4">

										<div class="form-outline">
											<label class="form-label">Floor Name</label>
											<input type="text" asp-for="Floor.FloorName" class="form-control form-control-lg" placeholder="Floor Id" disabled />
										</div>

									</div>
									<div class="col-md-6 mb-4">

										<div class="form-outline w-100">
											<label class="form-label">Staus</label>
											<select class="form-control form-control-lg" asp-for="RStatus" required>
												<option>Select</option>
												<option value="true">Occupied</option>
												<option value="false">Empty</option>
											</select>
										</div>

									</div>
								</div>
								<center>
									<div class="mt-4 pt-2">
										<input type="reset" value="Reset" class="btn btn-outline-secondary btn-lg" />
										<input type="submit" onclick="editFunction()" value="Update" class="btn btn-dark btn-lg" />
									</div>
								</center>
								@if (ViewBag.status == "Ok")
								{
									<br />
									<div class="alert alert-success">
										@ViewBag.message
									</div>
								}
								else if (ViewBag.status == "Error")
								{
									<br />
									<div class="alert alert-danger">
										@ViewBag.message
									</div>
								}
							</form>
						</div>
					</div>
				</div>
			</div>
		</div>
	</section>
	<script>
		function editFunction() {
			let val = confirm("Are you sure you want to edit this?");
			if (val == false) {
				return event.preventDefault();
			}
			alert("Room is updated successfully!");
		}
	</script>
</body>
</html>

