@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}




<div>
    <a asp-controller="Booking" asp-action="Index">Booking</a>

</div>


@model IEnumerable<DeskEntity.Model.Seat>

<body>

    <div class="container">

        <center>

            <h2 class="text-light text-center">Select Your Seat</h2>
           

            <div class=" row">

                @{

                    int c = 0;


                    

                    @foreach (var item in Model)

                    {



                        @if (item.Status == false)

                        {

                            <div class="col-2">





                                <div>

                                    <a asp-controller="Employee" asp-action="GetSeatsByFloorId" asp-route-SeatId="@item.SeatId" class="btn">

                                        Seat Num:@item.SeatNumber
                                       
                                        <svg width="40" height="50">

                                            <rect x="5" y="5" rx="5" ry="5" width="30" height="30"
                                            style="fill:green;stroke:black;stroke-width:5;opacity:0.5" />
                                        </svg>
                                    </a>

                                    @if (c == 12)

                                    {

                                        c = 0;

                                        <div class="row">

                                            <div class="col-1">

                                                <svg width="400" height="50">

                                                    <rect x="5" y="5" rx="5" ry="5" width="400" height="30"
                                                    style="fill:blue;stroke:black;stroke-width:5;opacity:0.8" />
                                                </svg>

                                            </div>

                                        </div>

                                    }



                                </div>


                            </div>

                        }
                        else



                        {


                            <div>

                                Seat Num:@item.SeatNumber<svg width="40" height="50">

                                    <rect x="5" y="5" rx="5" ry="5" width="30" height="30"
                                          style="fill:red;stroke:black;stroke-width:5;opacity:0.5" />


                                </svg>

                            </div>

                        }


                    }

                }

            </div>

            <div>

                <br />

            </div>

        </center>

    </div>




</body>


