
@{
    ViewData["Title"] = "Notification";
}

@{
    Layout = "~/Views/Shared/_EmployeeLayout.cshtml";
}

@model DeskEntity.Model.BookingSeat

     
   
        @for (int i = 0; i < Convert.ToInt32(TempData["Count"]); i++) ;

        @if(Model.SeatStatus == 1)
        {
            <div class="alert alert-success">
               Your seat is Pending
            </div>
        }
        else
        {
            <div class="alert alert-success">
               Your seat is Booked
            </div>
        }
 
 


