@{
    ViewData["Title"] = "Home Page";
}


<html>
<head>
    <link href="~/css/style.css" rel="stylesheet" />

</head>
<body>
    <!-- Move to up button -->
    <div class="scroll-button">
        <a href="#home"><i class="fas fa-arrow-up"></i></a>
    </div>

    <!-- Home Section Start -->
    <section class="home" id="home">
        <div class="home-content">
            <div class="text">
                <div class="text-one font-weight-bolder">THE WORLD'S LEADING DESK SCHEDULING PLATFORM</div>
                <div class="text-two">Easy desk booking solution for the flexible workspace</div>
                <div class="text-four font-weight-bold">Deskify is the solution that gives your workplace the flexibility it needs.</div>
            </div>
            <div class="button">

                <a asp-controller="LoginTable" asp-action="Index"><button>LOGIN</button></a>
            </div>
        </div>
    </section>


    <!-- About Section Start -->
    <section class="about" id="about" style="background:	#F0F0F0;">
        <div class="content">
            <div class="title"><span>How it works</span></div>
            <div class="about-details">
                <div class="left">
                    <img src="~/img/three.png" alt="">
                </div>
                <div class="right">
                    <div class="topic font-weight-bold" style="font-size:xx-large">The power and flexibility your organization needs</div>
                    <div>
                        <p style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">
                            Deskify brings together everything that’s required to handle the scheduling of shared desk space - including interactive floorplans and maps. Take advantage of Skedda's clever scheduling features and save everyone time.                        
                        </p>
                        <div style="margin-left:22px">
                               <ol style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:20px">
                                <li>Designate which desks are available.</li>
                                <li>Employees can book a desk by the day, or week right from their phone. They have the flexibility to choose where to sit, depending on what they need to get done that day.</li>
                                <li>Make smart decisions about your space.</li>
                                <li>Managers/Employees can book a meeting room by the hour, day, or week right from their phone.</li>
                               </ol>
                        </div>
                    </div>
                    <div class="button">
                        <a href="ID.jpg" download="Id"><button>Demo</button></a>
                    </div>
                </div>
            </div>
        </div>
    </section>

   <!-- My Services Section Start -->
    <section class="services" id="services">
        <div class="content">
            <div class="title"><span>Feature-packed, simple to use</span></div>
            <div class="boxes">
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://www.svgrepo.com/show/380373/desk-furniture-interior-table-decoration-9.svg" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index" style="text-decoration:none"><div class="topic" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large">Desk Booking</div></a>
                    <p>Give your team the flexibility to choose where they sit to get the most out of the day.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://www.svgrepo.com/show/513279/calendar.svg" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index" style="text-decoration:none"><div class="topic" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large">Desk Hoteling</div></a>
                    <p>Allow employees to schedule a desk reservation by the day or week.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://cdn-icons-png.flaticon.com/512/1105/1105864.png" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index" style="text-decoration:none"><div class="topic" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large">Meeting Room Hoteling</div></a>
                    <p>Allow employees to schedule a meeting room reservation by the hour.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://www.svgrepo.com/show/295334/mobile-phone-electronics.svg" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index" style="text-decoration:none"><div class="topic" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large">Mobile Friendly</div></a>
                    <p>Make it easy for employees to find and book a desk directly from the Deskify web application.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://www.svgrepo.com/show/283160/maps-and-flags-pin.svg" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index" style="text-decoration:none"><div class="topic" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large">Workspace Maps</div></a>
                    <p>Display an interactive map of your space so employees can easily find and book their desk.</p>
                </div>
                <div class="box">
                    <div class="icon">
                        <img class="img-fluid" style="height:25px" src="https://www.svgrepo.com/show/428775/support-online-center.svg" />
                    </div>
                    <a asp-area="" asp-controller="LoginTable" asp-action="Index" style="text-decoration:none"><div class="topic" style="font-family:'Gill Sans', 'Gill Sans MT', Calibri, 'Trebuchet MS', sans-serif;font-size:x-large">All-star Support</div></a>
                    <p>Our friendly and knowledgeable team is always ready to help you.</p>
                </div>
            </div>
        </div>
    </section>

    <!-- Contact Me section Start -->
    <section class="contact" id="contact">
        <div class="content">
            <div class="title"><span>Support and Help</span></div>
            <div class="text">
                <div class="topic">Any Query?</div>
                <p>Address : 30/A, 1st Main Rd, Industrial Suburb, 3rd Phase, J. P. Nagar, Bengaluru, Karnataka 560078
                <p>Phone : +91 8084845524</p>
                <p>Email : support@deskify.com</p>
                <div class="button">
                    <a href="https://wa.me/918084842455"><button>Let's Chat</button></a>
                </div>
            </div>
        </div>
    </section>
    <script src="~/js/script.js"></script>
</body>
</html>
